$eb-blue: #6badde;
$eb-green: #84de94;

$eb-night-grass: #006b73;
$eb-dark-night-grass: #005263;

$eb-dark-teal: #10295a;
$eb-eb-darker-teal: #002142;

$eb-purple-curtain: #21198c;
$eb-purple-curtain-dark: #192163;
$eb-purple-curtain-outline: #19194a;

$eb-ness-purple: #4252de;
$eb-ness-skin: #c58484;
$eb-ness-rouge: #c56b84;

$eb-cactus-green: #84de4a;
$eb-cactus-dark-green: #52944a;
$eb-cactus-outline: #424242;
$eb-cactus-spine: #f7f7f7;

$eb-flower-pot: #c5d6ce;
$eb-flower-pot-shadow: #94ad8c;
$eb-flower-pot-outline: #424242;

$eb-buzz-buzz-black: #312121;
$eb-buzz-buzz-dark-gray: #527363;
$eb-buzz-buzz-gray: #94a484;
$eb-buzz-buzz-white: #f7f7f7;
$eb-buzz-buzz-white-gray: #cecece;

$eb-frank-red: #f70063;
$eb-frank-dark-red: #940031;
$eb-frank-skin: #f7b594;
$eb-frank-skin-shadow: #d6a484;
$eb-frank-curves: #527363;
$eb-frank-rouge: #f79494;
$eb-frank-lips: #940031;
$eb-frank-blonde: #e6d621;
$eb-frank-blonde-shadow: #f79400;
$eb-frank-blonde-outline: #94a484;
$eb-frank-outline: #312121;

$eb-plain: #f7f7f7;
$eb-plain-gray: #8c9494;
$eb-plain-black: #101010;

$eb-mint: #6bd6bd;
$eb-mint-white: #ffeead;
$eb-mint-black: #3a3152;

$eb-strawberry: #ff94ad;
$eb-strawberry-white: #ffeece;
$eb-strawberry-black: #42214a;

$eb-banana: #eeff5a;
$eb-banana-white: #ffffd6;
$eb-banana-black: #4a3152;

$eb-peanut-butter: #e6a452;
$eb-peanut-butter-white: #ffeead;
$eb-peanut-butter-black: #421929;

$eb-dead-red: #c5424a;
$eb-dead-white: #ffd694;
$eb-dead-dark-red: #73294a;
$eb-dead-black: #290829;

$eb-purple-floor-dark: #424ace;
$eb-purple-floor-light: #7b94ff;
